#reso{
    background-color: crimson;
}
#isla{
color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#nav{
    color: gold;
}
#acc{
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#tai{
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#par{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#bod{
    background-color:crimson;
}

#enj{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: goldenrod;
}
#spe{
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: goldenrod;   
}
#acti{
    background-color: crimson;
}